/* untuk style tidak saya gabung dulu, soalnya ad beberapa saya set dari tagname */
#bgpage{
    height: 100vh;
    background-size:cover;
    background-color:darkolivegreen;
}
h1{
    font-weight: bold;
}
#icon-refresh{
    width:64px;
    height: 64px;
}
#icon-game{
    width:64px;
    height: 64px;
    border-radius:10px;
}
button {
    background: transparent;
    border: none !important;
}​